<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="javascripts/atencion.js"></script>
  </head>
  <body>
    <% include header %>

<div class="contenedorAtencion">
	<div class="atencionOrdenarMas">
		<img src="images/ordenar.svg">
		
		<p><%= ordenar %></p>
	</div>


	<div class="atencionPagar">
		<img src="images/cajaR.svg">
		
		<p><%= pagar %></p>
	</div>



</div>

  </body>
</html>
