<div id="divDesc" class="container fondo_cargando">
    <div class="col-12">
        <div class="row middle center tamVentana">
            <div class="fondo_msjAlerta">
                <div class="posicionTitulo">
                   <p id="pTitulo" class="titulo_msjAlerta">Titulo</p>
                   <img id="imgCerrarFloat" class="img_salir_msjAlerta" src="/images/exit_button.svg">
                </div>
                <div class="col-12 contenido_msjAlerta">
                   <div class="col-6 img_cont_msjAlerta">
                       <img id="pImagen" class="tam_img_cont_msjAlerta" src="/images/exit_button.svg">
                   </div>
                   <div class="col-6 flexcroll">
                       <p id="pTexto">In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.In my younger and more vulnerable years my father gave me some advice that.  years my father gave me some advice that.In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.In my younger and more vulnerable years my father gave me some advice that.  years my father gave me some advice that.</p>
                   </div>
                </div>
                <div class="posicionbtn_msjAlerta">
                    <button id="btnAceptarFloat" class="btn_In">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
