<script src="javascripts/lib/jquery-3.2.1.min.js"></script>
<script src="javascripts/header.js"></script>
<div>
      <div class="col-12">
          <h3 class="titleFecha"><%= fecha %></h3>
      </div>
      <!-- Div creado para colocar los items del header -->
      <div class="col-12 alineaHeader">
         <!-- Configuración de botón atrás -->
          <div id="btn_regresar" class="col-1 center ocultar_elementos">
              <img class="btn_regresar" src="/images/go_back.svg">
          </div>
          <!-- Configuración de titulo de pantalla -->
          <div id="titleEncabezado" class="col-10">
              <p class="titleEnc"><%= title %></p>
          </div>
          <!-- Configuración de imagen de usuario y nombres -->
          <div id="identificacionUsuario" class="col-2 ocultar_elementos">
              <div class="col-10">
                  <div class="row">
                    <div class="col-9">
                      <div class="row end">
                        <p class="titleNombreHeader"><%= name %></p>
                      </div>
                      <div class="row end">
                        <p class="titleNombreSub"><%= lastname %></p>
                      </div>
                    </div>
                    <div class="col-3">
                      <img id="img_usuario" class="img_usuario" src="/images/image_user.svg">
                    </div>
                  </div>
             </div>
          </div>
      </div>
</div>
<!-- Apartado que se encarga de mostrar las opciones de usuario "Solo cerrar sesión" -->
<div id="logOutUser" class="cont-opcionesUsuario ocultar_elementos">
	<p class="center titulo-opcionesUsuario">Opciones</p>
	<div id="bnt_logout" class="opc-cerrarSesion">
        <img src="images/logout.svg" width="20px" height="20px" class="tamImgCerrarSesion">
	    <p class="textoCerrarSesion">Cerrar sesión</p>
	</div>
</div>