<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  <% include header %>
     <section class="container">
      <section class="col-12">
        <div class="row middle center tamVentana">
         
         <!-- Logo de la aplicación -->
          <div class="col-4 center">
            <img src="/images/logo.svg" height="200" width="200">
          </div>
          
          <!-- Parte de campos para el login de la aplicación  -->
          <div class="col-4 center">
            <section class="center">
               <div class="row col-0">
                <p class="p-Campo">Usuario</p>
               </div>
              <div class="row col-0">
                <input type="text" class="in_TextoM" id="in_usuario">
                <p id="err_camp_usuario" class="msj_error ocultar_elementos">Error, favor de completar el campo</p>
              </div>
              <div class="row col-0">
                <p class="p-Campo">Contraseña</p>
              </div>
              <div class="row col-0">
                <input type="password" class="in_TextoM" id="in_password">
                <p id="err_camp_password" class="msj_error ocultar_elementos">Error, favor de completar el campo</p>
              </div>
              <div class="row col-0 end">
                <button id="btn_entrarlogin" class="btn_In">Entrar</button>
              </div>
              </section>
          </div>
          
        </div>
      </section>
    </section>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="javascripts/mensajeAlerta.js"></script>
    <script src="javascripts/login.js"></script>
  </body>
</html>
