<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/pagar.css' />
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="javascripts/pagar.js"></script>
  </head>
  <body>
   <script type="text/javascript">
       var paginaCargada = 'pagar';
    </script>
    <% include header %>
    
    <div class="container" style="display: flex;">
      <div class="col-4">
        <% var total= 0%>
        <!-- Tabla para pagar -->
        <div class="row">
          <table class="tablaPagar" id="tablaPlatillos">
            <tr>
              <th>Platillo</th>
              <th class="tCant">Cantidad</th>
              <th>Subtotal</th>
              <th></th>
            </tr>
            <% if(comanda.platillos.length > 0) { %>
              <% for(var i=0; i < comanda.platillos.length; i++) { %>
                <tr>
                  <td><%= comanda.platillos[i].nombre  %></td>
                  <td class="tCant center">
                    <p><%= comanda.platillos[i].cantidad  %></p>
                  </td>
                  <td class="end">
                    <% var costo= comanda.platillos[i].cantidad * comanda.platillos[i].precio%>
                    <% total = total + costo %>
                    <p ><%= costo %></p>
                  </td>
                </tr>
              <% } %>
            <% } %>
            <tr style="border-top: 1px solid #ddd;">
              <td colspan="2" class="end" style="font-size:20px;">Total</td>
              <td>
                <p id="tTotal" class="end" style="font-size:20px;"><%= total %></p>
              </td>
            </tr>

          </table>
        </div>
      </div>
      <div class="col-8" style="border-left: 1px solid #FFF;margin-left:20px;">
        <!-- Desgloce de pago -->
        <p class="titleEnc">Pagar</p>
        <div class="row center">
          <img id="btn_del001" src="/images/receipt.svg" height="65" width="65">
          <p id="pTotal" class="txtPagar"><%= total %></p>
        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-5 middle" style="display:flex; font-size:30px;">
            <p>Dividir cuenta en: </p>
            <input id="dCuantos" type="number" placeholder="#" min=1 class="inTxtDiv" value="1"/>
          </div>
          <div class="contCheck col-7">
        		<div class="divCheck">
        			<input type="radio" id="a-option" name="selector" value=0 checked="true">
        			<label for="a-option">Partes Iguales</label>
        			<div class="check"></div>
        		</div>
        		<div class="divCheck">
        			<input type="radio" id="b-option" name="selector" value=1>
        			<label for="b-option">Montos</label>
        			<div class="check"></div>
        		</div>
        	</div>

        </div>
        <div id="divMsj" class="row center msjAlerta">
          <p id="msjError"></p>
        </div>
        <div id="dCampos" class="container" style="font-size:30px;margin-top:20px;">
          <div class="row middle">
            <p>1. </p>
            <input id="iCant00" type="number" placeholder="#" class="inTxtMontos" value="<%= total %>"/>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <button id="btnExitPagar" class="btnCancelar" style="width: 250px;font-size: 28px;">Salir</button>
          </div>
          <div class="col-6 end">
            <button id="btnGenerar" class="btnAceptar" style="width: 250px;font-size: 28px;">Generar ticket</button>
          </div>
        </div>
      </div>

    </div>


  </body>
</html>
