<html>
  <head>
    <title><%= title %></title>
  </head>
 <body>
    <!-- Variable de control para identificar la página en la que el usuario se encuentra -->
    <script type="text/javascript">
       var paginaCargada = 'tiempo';
       var titulo = "tiempos de menú";
       var errorServer, mensajeError, accion;
    </script>
    
     <% include header %>
     
     <!-- Se valida si el usuario que ingresó a la pantalla del usuario es mesero o no. -->
     <% if (mesero) { %>
         <script type="text/javascript">var mesero = true;</script>
     <% } else { %>
         <script type="text/javascript">var mesero = false;</script>
     <% } %>
     
     <% if (Error) { %>
        <script>
            errorServer = true;
            mensajeError = "<%= msjError %>";
            accion = 1;
        </script>
     <% } else if (gruposComida.length == 0) {  %>
            <script>
                errorServer = true;
                mensajeError = "<%= msjError %>";
                accion = 2;
            </script>
     <% } else { %>
             <div class="center bordeTiempo">
                <% for ( var e = 0; e < gruposComida.length; e++ ) { %>
                     <div id="<%= gruposComida[e].idgrupo %>" idTiempo="<%= gruposComida[e].idgrupo %>" nombreTiempo="<%= gruposComida[e].name %>" class="espacioCajaTiempo">
                         <div class="tamContendorTiempo <%= gruposComida[e].name %>">
                             <div class="imgTiempo">
                                 <img src="<%= gruposComida[e].imagen %>" class="tamImgTiempo">
                             </div>
                             <p class="txt_titulosTiempo"><%= gruposComida[e].name %></p>
                         </div>
                     </div>
                 <% } %>
            </div>
     <% } %>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/lib/jquery-3.2.1.min.js"></script>
    <script src="javascripts/mensajeAlerta.js"></script>
    <script src="javascripts/tiempo.js"></script>

  </body>
</html>
