/* Archivo creado para almacenar los estilos de la pantalla de login */
/* Clase creada para los p de la página login */
.p-Campo {
    color : #FFF;
    font-size: 18px;
    margin: 5px 0px;
    font-weight: lighter;
    font-family: Helvetica;
}

/* Clase creada para los input de la página de login */
.in_TextoM {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border: 1px solid #FFF;
    background-color: #000;
    color: #FFF;
    font-weight: lighter;
    font-family: Helvetica;
}

/* Clase creada para el botón "Entrar" de la página de login */
.btn_In {
    margin-top: 15px;
    font-size: 15px;
    color: #FFF;
    width: 210px;
    height: 35px;
    background-color: #da532c;
    cursor: pointer;
    text-decoration: none;
    font-weight: 200;
    border: 0;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

/* Tamaño que declara para el contenido de la página de login */
.tamVentana {
    height: 75vh;
}

/* Estilo para mensajes de error en la pantalla de login */
.msj_error {
    color: #fd9426;
}