/* <-- INICIO ESTILOS PARA LA VENTANA DE MESAS --> */
/* Recuadro que engloba el estilo de un cuadro de la mesa */
.bordeMesa {
   padding: 0; 
    margin: 2%; 
    list-style: none; 
    -ms-box-orient: horizontal; 
    display: -webkit-box; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: -moz-flex; 
    display: -webkit-flex; 
     display: flex; 
    margin-top: 5%;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;

}

/* Div que enmarca la caja registradora */
.divCajaRegistradora {
    background: #1db974; 
    padding-bottom: 5px; 
    width: 39px; 
    margin-left: auto;
}

/* Estilo de la imagen de la caja registradora */
.imgCajaRegistradora {
    height: 25px; 
    width: 40px; 
    margin-top: 6px;
    cursor: pointer;
}

/* Recuadro que engloba la mesa */
.divMesa {
    background: #b91d47; 
    width: 200px; 
    height: 180px;
    cursor: pointer;
}

/* Estilo de la imagen de mesa */
.imgMesa {
    height: 60%;
    width: 60%; 
    padding: 15px;
}

/* Texto que engloba el nombre de la mesa */
.txt_numMesa {
    text-align: left; 
    margin-left: 5px; 
    font-size: 19px; 
    padding-bottom: 5px;
}

.espacioCaja {
    margin: 10px;
}


/* <-- FIN ESTILOS PARA LA VENTANA DE MESAS --> */
