/* Se importa librería */
@import url('reset.css');
@import url('reticula.css');
/* Se importa CSS de header */
@import url('header.css');
/* Se importa CSS para pantalla de login*/
@import url('login.css');
/* Se importa CSS de la ventana de alerta */
@import url('mensajeAlerta.css');
/* Se importa CSS de la pantalla de mesas */
@import url('mesas.css');
/* se importa CSS de la pantalla de Tiempos*/
@import url('tiempo.css');
/* se importa CSS de la pantalla de Tiempos*/
@import url('menu.css');

body {
    color : #FFF;
    background-color: #000;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Clase que oculta elementos de html  */
.ocultar_elementos{
    display: none;
}


/* Encabezado para menú*/
.head_menu {
  background-color: #da532c;
  font-size: 24px;
  color: #FFF;
}

.espL10 {
  margin-left: 10px;
}


.base {
  position : relative;
}


/* Estilo para botón aceptar en comanda */
.btnAceptar {
  background-color: #1db974;
  color: #FFF;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Estilo para botón cancelar en comanda */
.btnCancelar {
  background-color: #b91d47;
  color: #FFF;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.contenedorAtencion{
  position: relative;
  width: 100%;
  height: 80%;
  top: 3%;


}

.atencionOrdenarMas{
  position: relative;
  width: 300px;
  height: 260px;
  background-color: #da532c;
  float: left;
  margin-top: 9.9%;
  margin-left: 25%;
    cursor: pointer;
}

.atencionOrdenarMas > img{
  position: relative;
  width: 130px;
  height: 130px;
  margin-top: 65px;
  margin-left: 90px;
}

.atencionOrdenarMas > p{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 22px;
  margin-top: 28px;
  margin-left: 30px;
}

.atencionPagar{
  position: relative;
  width: 300px;
  height: 260px;
  background-color: #1db974;
  float: left;
  margin-top: 9.9%;
  margin-left: 5%;
    cursor: pointer;
}

.atencionPagar > p{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 22px;
  margin-top: 28px;
  margin-left: 30px;
}

.atencionPagar > img{
  position: relative;
  width: 130px;
  height: 130px;
  margin-top: 65px;
  margin-left: 85px;
}
