.bordeTiempo{
    padding: 0;
    margin: 2%;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    margin-top: 3%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.espacioCajaTiempo {
    margin: 20px;
    cursor: pointer;
}
.divImgTiempo {
    width: 100%;
    height: 100%;
}

.tamContendorTiempo {
    width: 350px;
    height: 320px;
}

.Desayuno {
    background: #e3a21a;   
}

.Comida {
    background: #da532c;
}

.Cena {
    background: #603cba;
}

.imgTiempo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    height: 50%;
}

.tamImgTiempo {
    height: 120px;
    width: 150px
}

.txt_titulosTiempo {
    text-align: left;
    margin-left: 5px;
    font-size: 25px;
    padding-bottom: 5px;
}

.msjErrorPeticion {
    background: #d73245;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 1%;
}